<div id="modal-livros-excluidos" class="modal">
    <div class="modal-content">
        <h4>Livros excluidos</h4>
        <table class="bordered centered striped responsive-table">
            <thead>
                <tr>
                    <th data-field="Titulo">Titulo</th>
                    <th data-field="Autor">Autor</th>
                    <th data-field="ISBN">ISBN</th>
                </tr>
            </thead>
            <tbody>

                {%for inativo in inativos:%}
                <tr>
                    <td>{{inativo.titulo_livro}}</td>
                    <td>{{inativo.autor}}</td>
                    <td>{{inativo.isbn}}</td>
                </tr>
                {%endfor%}

            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">
            <i class="material-icons left">close</i>
            Fechar
        </a>
    </div>
</div>